.formControls.error textarea, .formControls.error input {
   border: 2px solid red
}

.textarea {
   outline: none;
}

.formControls span {
   color: red;
}

.formSummaryError {
   border: 1px solid red;
   color: #000;
}